
<div class="row h-100">
  <div class="col-md-3 col-sm-12 colmenu">
      <div class="row h-100"  >
        <div class="col-12 show-mobile x_menu_mobile"> <ul>
            <li class="active"><a href="#"><i class="uil uil-copy"></i></a></li>
            <li><a href="#"><i class="uil uil-comment"></i></a></li>
            <li><a href="#"><i class="uil uil-user"></i></a></li>
            <li><a href="#"><i class="uil uil-chart"></i></a></li>
            <li><a href="#"><i class="uil uil-cog"></i></a></li>
            <li><a href="#"><i class="uil uil-plus"></i></a></li>
           </ul></div>
        <div class="col-md-2 col-sm-12 pt-3 pb-5 pl-0 pr-0 x_menu h-100 hidden-mobile ">
          <img class="logo mb-3" src="./assets/logo.PNG"/>
          <ul>
            <li class="active"><a href="#"><i class="uil uil-copy"></i></a></li>
            <li><a href="#"><i class="uil uil-comment"></i></a></li>
            <li><a href="#"><i class="uil uil-user"></i></a></li>
            <li><a href="#"><i class="uil uil-chart"></i></a></li>
            <li><a href="#"><i class="uil uil-cog"></i></a></li>
           </ul>
           <img src="../assets/users/2.jpg" class="avatarimg"/>
        </div>
        <div class="col-10 pr-5 pl-5 hidden-mobile ">
          <div class="pt-3">
              <h5>Marketing Team <br> <small class="color-gray">17 members</small></h5>
          </div>
           
          <hr>

          <div class="sidebarfolders pt-3 ">
            <sidebar-folder></sidebar-folder>
          </div>

        </div>
      </div>
  </div>
  <div class="col-md-6 col-sm-12 x_container pt-3 pl-5 pr-5 pb-3">
      <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text" ><i class="uil uil-search"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Search the files" >
        </div>
    <app-drive></app-drive>
    <app-folder></app-folder>
    <app-file></app-file>
  </div>
  <div class="col-md-3 col-sm-12 pt-3 pl-5 pr-5 pb-3 hidden-mobile">
    <sidebar-drive></sidebar-drive>
  </div>
</div>
 